body {background-color : black;
}

h2 {
	color: orange;
	font: 1.2em cursive;
}

p { font: 1.2em;
	border: solid yellow;
	color: red;
	
}

h1 { 
color: orange;
}


a { 
	font: 1.2em cursive;
	color: yellow;
}
